body {
    background-color: #212529;
    font-family: 'JetBrains Mono', monospace;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 100px);
}

.sensors {
    margin-top: 160px;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 4;
}

.modelview {
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 4;
}

model-viewer {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}